<h2>Show post</h2>

<%= render "comment_form.html", post: @post, changeset: @changeset,
                                action: post_path(@conn, :add_comment, @post) %>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @post.body %>
  </li>

</ul>

<%= link "Back", to: post_path(@conn, :index) %>